/* ########### B A T T L E ########### */

.ui.lightbrown.button {
  background-color: #aa683c;
  color: #fff;
}

.ui.button.deepblue {
  background-color: rgb(51, 20, 230);
  color: #fff;
}

.ui.lavender.button {
  background-color: rgb(126, 64, 241);
  color: #fff;
}

.ui.color4.button {
  background-color: #DE627F;
  color: #fff;
}

.ui.salmon.button {
  background-color: #F9A0A0;
  color: #fff;
}

.pokemon-text {
  text-align: center;
}

.opponent-pokemon-text {
  order: 1;
  align-self: flex-end;
  margin-bottom: -150px;
}

.player-pokemon-text {
  order: 2;
  align-self: flex-start;
}

#battle-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20px; */
  background-image: url("./assets/pokebackground1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 0px;
  padding-right: 80px;
  padding-top: 100px;
}

#battle-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#battle-contents {
  width: 865px;
  /* height: 100%; */
  border-style: double;
  border-color: black;
  padding: 2%;
}

.pokemon-name-text {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: 'Lucida Console';
  /* font-family: 'Lucida Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
}

.pokemon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hp {
  /* font-size: 3rem; */
  margin-bottom: -30px;
}

.max-hp-bar {
  display: flex;
  border: 2px;
  border-color: black;
  border-style: double;
  /* padding: 2px; */
  height: 10px;
  width: 200px;
  background-color: rgb(201, 201, 201);
  /* justify-content: center; */
  align-items: center;
}

.current-hp-bar {
  height: 10px;
  background-color: green;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 0px;
  border-right: 0px;
  border-color: black;
  border-style: double;
}

#ui-area {
  margin-top: 40px;
}

.battle-text-box {
  margin-top: -20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color: rgb(143, 143, 143);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.click-img {
  /* display: inline; */
  /* float: right; */
  height: 25px;
  margin-left: 20px;
  margin-bottom: -5px;
}

/* #battle-text-box {
  margin-top: -20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color: rgb(143, 143, 143);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} */


/* ######## O V E R W O R L D ######## */

#overworld-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playable-area {
  display: inline-flex;
  /* background-color: rgb(160, 150, 150); */
  background-image: url("./assets/grass2.png");
  /* position: relative; */
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.player-sprite {
  display: flex;
  width: 40px;
  height: 40px;
  /* background-color: black; */
  color: white;
  /* justify-content: center;
  align-items: center; */
  align-self: center;
  order: 5;
  position: absolute;
}

.boundary {
  /* display: inline-block; */
  background-image: url("./assets/firtree1.png");
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
  /* background-repeat: round; */
}

.trainer-sprite {
  display: flex;
  position: absolute;
  align-self: center;
  justify-content: center;
  align-items: center;
  order: 5;
}

.line-of-sight {
  position: absolute;
  border: 2px;
  border-color: black;
  /* border-style: dotted; */
}

.aggro {
  position: absolute;
  z-index: 1;
}

.left-boundary {
  float: left;
  order: 1;
  background-size: 100% auto;
}

.right-boundary {
  float: right;
  order: 3;
  background-size: 100% auto;
}

.top-boundary {
  float: top;
  order: 2;
  background-size: auto 100%;
}

.bottom-boundary {
  position: relative;
  order: 4;
  background-size: auto 100%;
}

/* ######## O B S T A C L E S ######## */

.obstacle {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  align-self: center;
  order: 5;
  background-repeat: round;
}

.horizontal-obstacle {
  /* background-image: url("./assets/smoltree1.png"); */
  /* border: 2px;
  border-color: black;
  border-style: dotted; */
}

.vertical-obstacle {
  /* background-image: url("./assets/bush1.png"); */
  /* border: 2px;
  border-color: black;
  border-style: dotted; */
}

/* giovanni's bushes */
#obstacle-7 {
  background-size: 100% 100%;
  background-image: url("./assets/bush1.png");
}
#obstacle-6 {
  background-size: 100% 100%;
  background-image: url("./assets/bush1.png");
}
/* giovanni's tree */
#obstacle-9 {
  background-size: 100% 100%;
  background-image: url("./assets/bigtree1.png");
}
/* top hedge */
#obstacle-8 {
  background-repeat: round;
  background-size: auto 100%;
  background-image: url("./assets/bush1.png");
}

/* ######## D O O D A D S ######## */

.doodad {
  position: absolute;
  align-self: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.smoltree1-doodad {
  background-image: url("./assets/smoltree1.png");
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  /* z-index: 1; */
}

.smoltree1-hedge-doodad {
  background-image: url("./assets/smoltree1.png");
  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: round;
  background-size: auto 100%;
  z-index: 1;
}

.bush1-vertical-doodad {
  background-image: url("./assets/bush1.png");
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: round;
  background-size: 100% auto;
}

.bush1-horizontal-doodad {
  background-image: url("./assets/bush1.png");
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: round;
  background-size: auto 100%;
}

.shrubbery1-vertical-doodad {
  background-image: url("./assets/shrubbery1.png");
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: round;
  background-size: 100% auto;
}

.flowers1-horizontal-doodad {
  background-image: url("./assets/flowers1.png");
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: round;
  background-size: auto 100%;
}

.log1-doodad {
  background-image: url("./assets/log1.png");
  background-color: rgba(0, 0, 0, 0);
}

.pedestal1-doodad {
  background-image: url("./assets/pedestal1.png");
  background-color: rgba(0, 0, 0, 0);
}

.tree1-doodad {
  background-image: url("./assets/tree1.png");
  background-color: rgba(0, 0, 0, 0);
  /* align-self: flex-start; */
  z-index: 1;
}

.tile1-doodad {
  background-image: url("./assets/tile1.png");
  background-color: rgba(0, 0, 0, 0);
  background-size: auto auto;
  background-repeat: round;
}