/* ########### B A T T L E ########### */

.ui.lightbrown.button {
  background-color: #aa683c;
  color: #fff;
}

.ui.deepblue.button {
  background-color: rgb(51, 20, 230);
  color: #fff;
}

.ui.lavender.button {
  background-color: rgb(126, 64, 241);
  color: #fff;
}

.ui.color4.button {
  background-color: #DE627F;
  color: #fff;
}

.ui.salmon.button {
  background-color: #F9A0A0;
  color: #fff;
}

.pokemon-text {
  text-align: center;
}

.opponent-pokemon-text {
  order: 1;
  align-self: flex-end;
  margin-bottom: -100px;
}

.player-pokemon-text {
  order: 2;
  align-self: flex-start;
}

#battle-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20px; */
  background-image: url("./assets/pokebackground1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 40px;
  padding-right: 80px;
  padding-top: 100px;
}

#battle-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#battle-contents {
  width: 865px;
  height: 100%;
  border-style: double;
  border-color: black;
  padding: 2%;
}

.pokemon-name-text {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: 'Lucida Console';
  /* font-family: 'Lucida Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
}

.pokemon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hp {
  /* font-size: 3rem; */
  margin-bottom: -30px;
}

.max-hp-bar {
  display: flex;
  border: 2px;
  border-color: black;
  border-style: double;
  /* padding: 2px; */
  height: 10px;
  width: 200px;
  background-color: rgb(201, 201, 201);
  /* justify-content: center; */
  align-items: center;
}

.current-hp-bar {
  height: 10px;
  background-color: green;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 0px;
  border-right: 0px;
  border-color: black;
  border-style: double;
}

#ui-area {
  margin-top: 40px;
}

/* ######## O V E R W O R L D ######## */

#overworld-container {
  display: flex;
  /* position: relative; */
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
}

.playable-area {
  display: inline-flex;
  background-color: rgb(160, 150, 150);
  /* position: relative; */
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.player-sprite {
  display: flex;
  width: 40px;
  height: 40px;
  /* background-color: black; */
  color: white;
  /* justify-content: center;
  align-items: center; */
  align-self: center;
  order: 5;
  position: absolute;
}

.boundary {
  /* display: inline-block; */
  background-color: black;
  color: white;
  text-align: center;
}

.obstacle {
  /* display: inline-block; */
  background-color: black;
  position: absolute;
  align-self: center;
  order: 5;
}

.trainer-sprite {
  display: flex;
  position: absolute;
  align-self: center;
  justify-content: center;
  align-items: center;
  order: 5;
}

.line-of-sight {
  /* background-color: white; */
  border: 2px;
  border-color: black;
  /* border-style: dotted; */
  position: absolute;
  /* align-self: center; */
}

.aggro {
  position: absolute;
  z-index: 1;
}

.left-boundary {
  float: left;
  order: 1;
}

.right-boundary {
  float: right;
  order: 3;
}

.top-boundary {
  float: top;
  order: 2;
}

.bottom-boundary {
  /* background-color: red; */
  position: absolute;
  bottom: 0;
  /* margin-left: -900px; */
  order: 4;
}